<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon</title>
</head>

<body>
    <h1>Benvenuto nel gioco Pokémon!</h1>
    <p>Punti totali: {{ punti_utente }}</p>
    <h2>La tua collezione</h2>
    {% if collezione %}
    <ul>
        {% for carta in collezione %}
        <li>{{ carta }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>La tua collezione è vuota.</p>
    {% endif %}
    <form action="{{ url_for('apri_pacchetto_route') }}" method="post">
        <button type="submit">Apri un pacchetto</button>
    </form>
</body>

</html>